<h1>Editing Post</h1>

# <%= render 'form', post: @post %>

# <%= link_to 'Show', @post %> |
# <%= link_to 'Back', posts_path %>

<%= form_for(@post) do |f| %>
    <label>Post title:</label><br>
    <%= f.text_field :title %><br>
   
    <label>Post description</label><br>
    <%= f.text_area :description %><br>
   
    <%= f.submit %>
  <% end %>